<p>pipes works!</p>
<pre>
    {{fname}}
    {{fname | lowercase}}
    {{fname | uppercase}}

    {{age}}
    {{age | number}}
    {{age | currency}}
    {{age | currency:'Rs. '}}
    {{age | currency:'INR '}}
    {{age | currency:'INR'}}
    {{age | currency:'&#8377;'}}
    {{age | currency:'&reg;'}}

    {{age | hexaaaaaaaaaaaaaaa}}
    {{255 | hexaaaaaaaaaaaaaaa}}
    {{15 | hexaaaaaaaaaaaaaaa}}


    {{day}}
    {{day | date}}
    {{day | date:'dd-MM-yy'}}

    {{5 | params:4:5:1}}

    {{'1234567812670987' | debit}}

    {{'cat' | reverse}}
    

</pre>