<p>directives works!</p>

<!-- if -- *ngIf
hidden -- [hidden]
for -- *ngFor
switch -- [ngSwitch] / *ngSwtichCase / *ngSwitchDefault
model -- [(ngModel)]
events - (click)


* -- conditions & loops
[] -- attributes
() -- events
[()] -- 2way databinding -->

<p *ngIf="fname == 'qshore'"> this is if </p>
<p [hidden]="fname == 'qshore'"> this is hidden </p>

<h1 *ngFor="let fruit of fruits"> {{fruit}} </h1>

<ol >
    <li *ngFor="let fruit of fruits"> {{fruit}} </li>
</ol>

<select >
    <option *ngFor="let fruit of fruits"> {{fruit}} </option>
</select>

<table border="1">
    <tr *ngFor="let fruit of fruits">
        <td> {{fruit}} </td>
    </tr>
</table>

<p [ngSwitch]="fname">
    <span *ngSwitchCase="'angular'">this is angular</span> 
    <span *ngSwitchCase="'qshore'">this is qshore</span> 
    <span  *ngSwitchCase="'tech'">this is tech</span> 
    <span  *ngSwitchDefault>this is default</span> 
</p>

<input [(ngModel)]="fname" name="fname"> {{fname}}

<p (click)="callMe()" > this is click</p>
<p (dblclick)="callMe()" > this is dbl click</p>
<p (mouseover)="callMe()" > this is over</p>
<p (mouseout)="callMe()" > this is out</p>
<p (mouseenter)="callMe()" > this is enter</p>
<p (mouseleave)="callMe()" > this is leave</p>
<p (mousemove)="callMe()" > this is move</p>
<p (mouseup)="callMe()" > this is up</p>
<p (mousedown)="callMe()" > this is down</p>

<pre>
<input [(ngModel)]="fname" name="fname" placeholder="click" (click)="callMe()"> 

<input [(ngModel)]="fname" name="fname" placeholder="focus" (focus)="callMe()"> 

<input [(ngModel)]="fname" name="fname" placeholder="blur" (blur)="callMe()"> 


<input [(ngModel)]="fname" name="fname" placeholder="change" (change)="callMe()"> 

<input [(ngModel)]="fname" name="fname" placeholder="up" (keyup)="callMe()"> 

<input [(ngModel)]="fname" name="fname" placeholder="down" (keydown)="callMe()"> 

<input [(ngModel)]="fname" name="fname" placeholder="press" (keypress)="callMe()"> 

<input [(ngModel)]="fname" name="fname" placeholder="cut" (cut)="callMe()"> 

<input [(ngModel)]="fname" name="fname" placeholder="copy" (copy)="callMe()"> 

<input [(ngModel)]="fname" name="fname" placeholder="paste" (paste)="callMe()"> 

</pre>