<p>obj-forms works!</p>
<p>forms works!</p>
<pre>

    <form name="frm" #f=ngForm >
        <input type="text" name="fname" [(ngModel)]="user.fname" #fname="ngModel" placeholder="fname" required minlength="5"> {{user.fname}}
        <!-- <p *ngIf="fname.touched && fname.invalid" style="color:red"> Please enter a valid input</p> -->

        <p *ngIf="fname.dirty && fname.hasError('required')" style="color:red"> this is mandatory field</p>

        <p *ngIf="fname.dirty && fname.hasError('minlength')" style="color:red"> Please enter min 5 chars</p>
        
        <input type="text" name="lname" [(ngModel)]="user.lname" #lname="ngModel" placeholder="lname"> {{user.lname}}

        <input type="submit" (click)="f.valid && login()">
    </form>
    field states
    valid :: {{fname.valid}}
    invalid :: {{fname.invalid}}
    dirty :: {{fname.dirty}}
    pristine :: {{fname.pristine}}
    touched :: {{fname.touched}}
    untouched :: {{fname.untouched}}
    required :: {{fname.hasError('required')}}
    minlength :: {{fname.hasError('minlength')}}

    form states:
    valid :: {{f.valid}}
    invalid :: {{f.invalid}}
    dirty :: {{f.dirty}}
    pristine :: {{f.pristine}}
    touched :: {{f.touched}}
    untouched :: {{f.untouched}}
    submitted :: {{f.submitted}}

</pre>