<p>obj-forms works!</p>
<p>forms works!</p>

<pre>
    <form name="f" #frm=ngForm (submit)="frm.valid && login()">

        <input type="text" name="fname" [(ngModel)]="user.fname" #fname=ngModel required minlength="5" maxlength="10"> {{fname}}

        <!-- <p *ngIf="fname.dirty && fname.invalid" style="color:red"> please enter a valid input</p> -->
        <p *ngIf="fname.dirty && fname.hasError('required')" style="color:red"> this is mandatory</p>

        <p *ngIf="fname.dirty && fname.hasError('minlength')" style="color:red"> please enter min 5 chars</p>
        <p *ngIf="fname.dirty && fname.hasError('maxlength')" style="color:red"> allows max 10 charst</p>


        <input type="text" name="lname" [(ngModel)]="user.lname" #lname=ngModel>
        <input type="submit">

        <!-- dirty :: {{f.fname.$dirty}} -->
        ****field
        valid :: {{fname.valid}}
        invalid :: {{fname.invalid}}
        dirty :: {{fname.dirty}}
        pristine :: {{fname.pristine}}
        touched :: {{fname.touched}}
        untouched :: {{fname.untouched}}


        ****Form
        valid :: {{frm.valid}}
        invalid :: {{frm.invalid}}
        dirty :: {{frm.dirty}}
        pristine :: {{frm.pristine}}
        touched :: {{frm.touched}}
        untouched :: {{frm.untouched}}
        submitted :: {{frm.submitted}}
        

    </form>
</pre>