<p>pipes works!</p>
<pre>

    {{fname}}
    {{fname | lowercase}}
    {{fname | uppercase}}


    {{num}}
    {{num | number}}
    {{num | currency}}
    {{num | currency:'INR'}}
    {{num | currency:'INR '}}
    {{num | currency:'Rs'}}
    {{num | currency:'&#8377;'}}


    {{num | hexa}}
    {{15 | hexa}}
    {{14 | hexa}}
    {{255 | hexa}}


    {{user}}
    {{user |json}}

    {{5 | params:5:3:2}}


    {{9 | sqrt}}

    {{fname | reverse}}
    {{12345 | numreverse}}



    
    {{day}}
    {{day | date}}
    {{day | date:'dd-MM-yyyy'}}

    
</pre>