<p>form works!</p>
<pre>
<form name="frm" #f=ngForm (submit)="f.valid && login()">
        <input type="text" name="qshore" [(ngModel)]="user.fname" #fname=ngModel required minlength="5" maxlength="10" > {{user.fname}}
        <!-- <p style="color:red" *ngIf="f.submitted && fname.invalid">Please enter a valid input</p> -->
        <!-- <p style="color:red" *ngIf="fname.touched && fname.invalid">Please enter a valid input</p> -->
        <p style="color:red" *ngIf="fname.dirty && fname.hasError('required')">this is a mandatory field</p>
        <p style="color:red" *ngIf="fname.dirty && fname.hasError('minlength')">Please enter min 5 chars</p>

        <input type="text" name="lname" [(ngModel)]="user.lname" #lname=ngModel >
        <input type="submit">
</form>

Field States
valid :: {{fname.valid}}
invalid :: {{fname.invalid}}
dirty :: {{fname.dirty}}
pristine :: {{fname.pristine}}
touched :: {{fname.touched}}
untouched :: {{fname.untouched}}
required :: {{fname.hasError('required')}}
minlength :: {{fname.hasError('minlength')}}
maxlength :: {{fname.hasError('maxlength')}}


Form States
valid :: {{f.valid}}
invalid :: {{f.invalid}}
dirty :: {{f.dirty}}
pristine :: {{f.pristine}}
touched :: {{f.touched}}
untouched :: {{f.untouched}}
submitted :: {{f.submitted}}

</pre>

