<p>intro asdfasdf works!</p>

<div 
    [appAttr]="customLogic"
    [fname]="'qshore'"
    [msg]="message"
    (getData)="getcustomAttrData($event)"
    >
    
    custom atrribute Directive 
</div>


<div class="appClass"> class Directive</div>

<app-custom 
    [user]="user"
    [msg]="message"
    [age]="34"
    (sendFname) = "sendFnamesss($event)"
    (sendLname) = "sendLname($event)"
    (sendAge) = "age($event)"
    ></app-custom>
<!-- <app-forms></app-forms> -->
#################################################
<app-custom 
    [user]="{fname:'Me', lname:'you' }"
    [msg]="'Hi'"
    [age]="45"
    [showButtons] = "false"
    (sendFname) = "sendFnamesss($event)"
    (sendLname) = "sendLname($event)"
    (sendAge) = "age($event)"
    ></app-custom>
    **

<mahesh-table 
[headers]="userHeaders"
 [data]="users"></mahesh-table>

<br><br><br>

<mahesh-table 
[headers]="carHeaders" 
[data]="cars"></mahesh-table>

<br><br><br>

<mahesh-table 
[headers]="animalHeaders" 
[data]="animals"></mahesh-table>
