<p>intro asdfasdf works!</p>

<div 
    [appAttr]="customLogic"
    [fname]="'qshore'"
    [msg]="message"
    (getData)="getcustomAttrData($event)"
    >
    
    custom atrribute Directive 
</div>


<div class="appClass"> class Directive</div>

<app-custom 
    [user]="user"
    [msg]="message"
    [age]="34"
    (sendFname) = "sendFnamesss($event)"
    (sendLname) = "sendLname($event)"
    (sendAge) = "age($event)"
    ></app-custom>
<!-- <app-forms></app-forms> -->
#################################################
<app-custom 
    [user]="{fname:'Me', lname:'you' }"
    [msg]="'Hi'"
    [age]="45"
    [showButtons] = "false"
    (sendFname) = "sendFnamesss($event)"
    (sendLname) = "sendLname($event)"
    (sendAge) = "age($event)"
    ></app-custom>
    **

<mahesh-table 
[headers]="userHeaders"
 [data]="users"></mahesh-table>

<br><br><br>

<mahesh-table 
[headers]="carHeaders" 
[data]="cars"></mahesh-table>

<br><br><br>

<mahesh-table 
[headers]="animalHeaders" 
[data]="animals"></mahesh-table>



<slideshow [height]="'100%'"
           [minHeight]="'525px'"
           [autoPlay]="true"
           [showArrows]="true"
           [imageUrls]="imageSources"
           [lazyLoad]="imageSources?.length > 1"
           [autoPlayWaitForLazyLoad]="true">
</slideshow>




<table mat-table [dataSource]="users" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="fname">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="lname">
    <th mat-header-cell *matHeaderCellDef> Last name </th>
    <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="pwd">
    <th mat-header-cell *matHeaderCellDef> pwd </th>
    <td mat-cell *matCellDef="let element"> {{element.pwd}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
