<p>pipes works!</p>

<pre>
    {{fname}}
    {{fname | lowercase}}
    {{fname | uppercase}}

    {{day}}
    {{day | date}}
    {{day | date:'dd -MM -yy'}}

    {{age}}
    {{age |number}}
    {{age |currency}}
    {{age |currency:'Rs. '}}
    {{age |currency:'INR '}}
    {{age |currency:'INR'}}
    {{age |currency:'&#8377;'}}



    {{age}}**

    {{age | hexaaaaaaaaaaaaaaaaaa}}
    {{255 | hexaaaaaaaaaaaaaaaaaa}}
    {{15 | hexaaaaaaaaaaaaaaaaaa}}

    {{5 | paramsssss:12:6:2}}  
    
    {{10 | roman }}
    
    {{'hello im a perla of the city of the hyd in a country ind' | wordsLength}}

    {{user}}
    {{user |json}}
</pre>