<p>apis works!</p>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>age</th>
        <th>email</th>
        <th>password</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let user of usersList">
        <td> {{user.id}} </td>
        <td> {{user.fname}} {{user.lname}} </td>
        <td> {{user.age}} </td>
        <td> {{user.email}} </td>
        <td> {{user.password}} </td>
        <td> 
            <p (click)="viewUser(user.id)" >View</p>
            <span (click)="editUser(user.id)">Edit</span>
            <div (click)="deleteUser(user.id)">Delete</div>
        </td>
    </tr>
</table>
<pre>
    <button (click)="createUser()"> Create</button>
    {{userInfo | json}}






    
</pre>