<p>forms works!</p>


<pre>
<form #f=ngForm (submit)="f.valid && login();">
    <input type="text" name="fname" [(ngModel)]="user.fname" #fname=ngModel placeholder="fname" required minlength="5">

    <!-- <p style="color:red" *ngIf="fname.dirty && fname.invalid"> Please enter a valid input</p> -->
    <!-- <p style="color:red" *ngIf="fname.dirty && fname.hasError('required')"> thisi s mandatroy field </p>
    <p style="color:red" *ngIf="fname.dirty && fname.hasError('minlength')"> Please enter min 5 chars</p> -->
    <!-- <p style="color:red" *ngIf="fname.touched && fname.hasError('required')"> thisi s mandatroy field </p>
    <p style="color:red" *ngIf="fname.touched && fname.hasError('minlength')"> Please enter min 5 chars</p> -->
    <p style="color:red" *ngIf="f.submitted && fname.hasError('required')"> thisi s mandatroy field </p>
    <p style="color:red" *ngIf="f.submitted && fname.hasError('minlength')"> Please enter min 5 chars</p>
    <input type="text" name="lname" [(ngModel)]="user.lname" #lname=ngModel placeholder="lname">
    <input type="submit">

    Field States
    valid :: {{fname.valid}}
    invalid :: {{fname.invalid}}
    dirty :: {{fname.dirty}}
    pristine :: {{fname.pristine}}
    touched :: {{fname.touched}}
    untouched :: {{fname.untouched}}
    required :: {{fname.hasError('required')}}
    minlength :: {{fname.hasError('minlength')}}
    
    Form States
    valid :: {{f.valid}}
    invalid :: {{f.invalid}}
    dirty :: {{f.dirty}}
    pristine :: {{f.pristine}}
    touched :: {{f.touched}}
    untouched :: {{f.untouched}}
    submitted :: {{f.submitted}}



</form>
</pre>